## <center>Assignment 1</center>

**Abeysinghe W.A.M.S.Y**   
**190014F**

## 1. Loading the Dataset

In [7]:
import pandas as pd

In [8]:
# Load the dataset
data = pd.read_csv('../housing.csv')
print(data.head())

   Unnamed: 0  Order        PID  MS SubClass MS Zoning  Lot Frontage  \
0           0      1  526301100           20        RL         141.0
1           1      2  526350040           20        RH          80.0
2           2      3  526351010           20        RL          81.0
3           3      4  526353030           20        RL          93.0
4           4      5  527105010           60        RL          74.0

   Lot Area Street Alley Lot Shape  ... Pool Area Pool QC  Fence Misc Feature  \
0     31770   Pave   NaN       IR1  ...         0     NaN    NaN          NaN
1     11622   Pave   NaN       Reg  ...         0     NaN  MnPrv          NaN
2     14267   Pave   NaN       IR1  ...         0     NaN    NaN         Gar2
3     11160   Pave   NaN       Reg  ...         0     NaN    NaN          NaN
4     13830   Pave   NaN       IR1  ...         0     NaN  MnPrv          NaN

  Misc Val Mo Sold Yr Sold Sale Type Sale Condition  SalePrice
0        0       5    2010       WD          Normal     215000
1        0       6    2010       WD          Normal     105000
2    12500       6    2010       WD          Normal     172000
3        0       4    2010       WD          Normal     244000
4        0       3    2010       WD          Normal     189900

[5 rows x 83 columns]

## 2. Preprocessing

#### 2.1. Removing NaNs

In [16]:
from sklearn.model_selection import train_test_split

In [18]:
# Select independent features
features = ['Lot Area', 'Garage Yr Blt', 'Bedroom AbvGr', 'Kitchen AbvGr', 'Pool Area']
target = ['SalePrice']

# Remove rows with missing values (Nan)
cleanData = data.dropna(subset= features + target)

# Extract features and target variable from filtered data
X_clean = cleanData[features].to_numpy()
y_clean = cleanData[target].to_numpy()

In [19]:
print(data.shape)
print(cleanData.shape)

(2930, 83)
(2771, 83)

#### 2.2. Plotting Data and Analysing